h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background: #ffffff;
}

.section {
  background: #2f303a;
}
.section__container {
  max-width: 1600px;
}
.section__page-header {
  border-bottom: 1px solid #ececec;
}
.section__hero {
  background: #2f303a;
}
.section__features {
  padding: 60px 0px;
}
.section__our-speciality {
  padding: 0px 0 60px 0;
}
.section__our-team {
  padding: 94px 0;
  background-color: #f5f4fa;
}
.section__clients {
  padding: 94px 0;
}
.section__page-footer {
  background: #2f303a;
  padding: 60px 0px;
}
.section__gallery {
  padding: 94px 0;
}

@media screen and (min-width: 1200px) {
  .section__container {
    margin: 0 auto;
  }
  .section__features {
    padding: 94px 0px;
  }
}
.button {
  background: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  outline: none;
  -webkit-transition: var(--transitionButton);
  transition: var(--transitionButton);
}
.button:hover, .button:focus {
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: var(--transitionButton);
  transition: var(--transitionButton);
}

.link, .link--active {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: var(--transitionIconClient);
  transition: var(--transitionIconClient);
  outline: none;
}
.link:hover, .link--active:hover, .link:focus, .link--active:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link--underline {
  text-decoration: underline;
}
.link--active {
  color: #2196f3;
}
.link--active::after {
  position: absolute;
  display: block;
  content: "";
  top: 45px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  cursor: unset;
  pointer-events: none;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo--dark {
  color: #212121;
}
.logo--light {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192307692;
    letter-spacing: 0.03em;
  }
}
.page-header, .page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  height: 60px;
}
.page-header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: "Raleway";
}
.page-header__menu {
  background: none;
  border: none;
}
.page-header__menu-icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__menu-icon:hover, .page-header__menu-icon:focus {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .page-header__container {
    height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-header__navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header__logo {
    margin-right: 83px;
  }
  .page-header__menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    margin: 0 auto;
    padding: 0 15px;
  }
  .page-header__logo {
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-right: 93px;
  }
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857143;
  letter-spacing: 0.02em;
}
.navigation__list {
  display: none;
}
.navigation__item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    gap: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: flex-end;
  }
  .contacts__icon {
    fill: #757575;
  }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .contacts__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
    fill: #2196f3;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover .contacts__text, .contacts__link:focus .contacts__text {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
  .contacts__text {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142857143;
    letter-spacing: 0.02em;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/sliderbg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/sliderbg.jpg");
  max-width: 1600px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container {
  padding: 118px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.hero__button {
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background: #ffffff;
  color: #212121;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 0;
  }
  .hero__title {
    font-size: 44px;
    line-height: 60px;
  }
}
.features__container {
  max-width: 1200px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.features__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  width: 100%;
  height: 120px;
  border-radius: 4px;
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__heading {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding: 30px 0 10px 0;
}
.features__description {
  font-size: 14px;
  line-height: 1.714285714;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .features__container {
    margin: 0 auto;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .features__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #f5f4fa;
    width: 100%;
    height: 120px;
    border-radius: 4px;
  }
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .features__icon {
    width: 70px;
    height: 70px;
  }
  .features__heading {
    text-align: justify;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142857143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding: 30px 0 10px 0;
  }
  .features__description {
    font-size: 14px;
    line-height: 1.714285714;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #f5f4fa;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .features__icon {
    width: 70px;
    height: 70px;
  }
  .features__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142857143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding: 30px 0 10px 0;
  }
  .features__description {
    font-size: 14px;
    line-height: 1.714285714;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;
  }
}
.our-speciality, .our-speciality__container {
  display: none;
}
.our-speciality__container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .our-speciality, .our-speciality__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .our-speciality__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  }
  .our-speciality__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .our-speciality__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .our-speciality__image {
    display: block;
  }
  .our-speciality__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0px;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    text-transform: uppercase;
  }
}
.our-team, .our-team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.our-team__container {
  width: 1200px;
  margin: 0 auto;
}
.our-team__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fontColorMain);
}
.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.our-team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.our-team__portrait {
  margin-bottom: 30px;
}
.our-team__person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
  text-align: center;
}
.our-team__person-position {
  text-align: center;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.social-list__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: var(--transitionIconSocial);
  transition: var(--transitionIconSocial);
}
.social-list__icon--dark {
  background-color: rgba(255, 255, 255, 0.1019607843);
  fill: #fff;
  -webkit-transition: var(--transitionIconSocialFooter);
  transition: var(--transitionIconSocialFooter);
}
.social-list__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: #f5f4fa;
  margin-bottom: 20px;
}
.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  outline: none;
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
  background-color: #2196f3;
  overflow: hidden;
  -webkit-transition: var(--transitionIconSocial);
  transition: var(--transitionIconSocial);
}

.clients, .clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.clients__container {
  width: 1200px;
  margin: 0 auto;
}
.clients__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.clients__icon {
  fill: #afb1b8;
  -webkit-transition: var(--transitionIconClient);
  transition: var(--transitionIconClient);
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: var(--transitionIconClient);
  transition: var(--transitionIconClient);
  outline: none;
}
.clients__link:hover, .clients__link:focus, .clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  border-color: #2196f3;
  fill: #2196f3;
  -webkit-transition: var(--transitionIconClient);
  transition: var(--transitionIconClient);
}

.page-footer, .page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.page-footer__container {
  width: 1200px;
  margin: 0 auto;
}
.page-footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192307692;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}
.page-footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142857143;
  letter-spacing: 0.02em;
}
.page-footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714285714;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 9px;
}
.page-footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714285714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: var(--transitionLink);
  transition: var(--transitionLink);
  margin-bottom: 9px;
}
.page-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
  margin-right: 78px;
}
.page-footer__social-list {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.newsletter-signup {
  margin-top: 12px;
}
.newsletter-signup__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding-bottom: 20px;
}
.newsletter-signup__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 12px;
}
.newsletter-signup__textfield {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  width: 350px;
  height: 50px;
  padding: 15px 16px;
  -webkit-transition: var(--transitionInputLabel);
  transition: var(--transitionInputLabel);
  outline: none;
}
.newsletter-signup__textfield:focus-within, .newsletter-signup__textfield:hover {
  border-color: #2196f3;
  -webkit-transition: var(--transitionInputLabel);
  transition: var(--transitionInputLabel);
}
.newsletter-signup__icon {
  fill: #ffffff;
  background: #2196f3;
  -webkit-transition: var(--transitionBtnIcon);
  transition: var(--transitionBtnIcon);
}
.newsletter-signup__button {
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  width: 200px;
  height: 50px;
  gap: 24px;
  cursor: pointer;
  -webkit-transition: var(--transitionButton);
  transition: var(--transitionButton);
  outline: none;
}
.newsletter-signup__button:hover, .newsletter-signup__button:focus {
  background: #f5f4fa;
  color: #212121;
  -webkit-transition: var(--transitionButton);
  transition: var(--transitionButton);
}
.newsletter-signup__button:hover .newsletter-signup__icon, .newsletter-signup__button:focus .newsletter-signup__icon {
  background: #f5f4fa;
  fill: #2196f3;
  -webkit-transition: var(--transitionBtnIcon);
  transition: var(--transitionBtnIcon);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
  list-style: none;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc(100% - 20px);
      flex-basis: calc(100% - 20px);
  padding: 0 15px;
}
.grid__container {
  width: 1200px;
  margin: 0 auto;
}
.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: var(--transitionCard);
  transition: var(--transitionCard);
}
.grid__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: var(--transitionCard);
  transition: var(--transitionCard);
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: var(--transitionCard);
  transition: var(--transitionCard);
}
.product-card__anchor {
  position: relative;
  overflow: hidden;
}
.product-card__image {
  display: block;
  width: 370px;
  height: 294px;
}
.product-card__overlay {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.555555556;
  letter-spacing: 0.03em;
  color: #fff;
  background: rgba(33, 150, 243, 0.9019607843);
  padding: 49px 45px 49px 24px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: var(--transitionCardOverlay);
  transition: var(--transitionCardOverlay);
}
.product-card__caption-box {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.product-card__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px 24px 4px 24px;
  padding-top: 20px;
}
.product-card__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px 24px 20px 24px;
}
.product-card:hover .product-card__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.modal-window {
  position: relative;
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-window__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  background: var(--colorWhite);
  border: 1px solid #afb1b8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: var(--transitionIconModalClose);
  transition: var(--transitionIconModalClose);
  cursor: pointer;
}
.modal-window__close-button:hover, .modal-window__close-button:focus {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
  -webkit-transition: var(--transitionIconModalClose);
  transition: var(--transitionIconModalClose);
  background-color: #2f303a;
}
.modal-window__heading {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-window__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.modal-window__button {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  padding: 10px 76px;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: var(--transitionButton);
  transition: var(--transitionButton);
  margin-top: 20px;
}
.modal-window__button:hover, .modal-window__button:focus {
  background: #2f303a;
  color: #2196f3;
  cursor: pointer;
  -webkit-transition: var(--transitionButton);
  transition: var(--transitionButton);
}

.form-field {
  position: relative;
  display: block;
}
.form-field__label {
  font-size: 12px;
  line-height: 1.166666667;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: var(--transitionFormTextInput);
  transition: var(--transitionFormTextInput);
}
.form-field__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px 22px 12px 42px;
  font-size: 12px;
  line-height: 1.166666667;
  letter-spacing: 0.01em;
  margin-top: 2px;
  -webkit-transition: var(--transitionFormTextInput);
  transition: var(--transitionFormTextInput);
}
.form-field__input:focus {
  border-color: #2196f3;
  outline: none;
  -webkit-transition: var(--transitionFormTextInput);
  transition: var(--transitionFormTextInput);
}
.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
  -webkit-transition: var(--transitionFormTextInput);
  transition: var(--transitionFormTextInput);
}
.form-field__comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.166666667;
  letter-spacing: 0.01em;
  margin-top: 2px;
  margin-bottom: 10px;
  resize: none;
}
.form-field__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form-field__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form-field__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form-field__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form-field__comment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form-field__comment:focus {
  border-color: #2196f3;
  outline: none;
  -webkit-transition: var(--transitionFormTextInput);
  transition: var(--transitionFormTextInput);
}
.form-field__icon {
  position: absolute;
  top: 35px;
  left: 15px;
  fill: #212121;
  -webkit-transition: var(--transitionFormTextInput);
  transition: var(--transitionFormTextInput);
}

.checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.714285714;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: pre;
}
.checkbox-field__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.checkbox-field__input {
  margin-left: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.checkbox-field__input:checked + .checkbox-field__icon {
  fill: #ffffff;
  background: #2196f3;
  border-color: #2196f3;
  -webkit-transition: var(--transitionCheckbox);
  transition: var(--transitionCheckbox);
}
.checkbox-field__icon {
  border: 2px #212121 solid;
  border-radius: 2px;
  background: #ffffff;
  fill: #ffffff;
  margin: 4px 7px 2px 15px;
  cursor: pointer;
  -webkit-transition: var(--transitionCheckbox);
  transition: var(--transitionCheckbox);
}
.checkbox-field__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #2196f3;
  -webkit-transition: var(--transitionLinkUnderline);
  transition: var(--transitionLinkUnderline);
}
.checkbox-field__link:focus, .checkbox-field__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
  -webkit-transition: var(--transitionLinkUnderline);
  transition: var(--transitionLinkUnderline);
}

.backdrop {
  content: "";
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: var(--transitionBackdrop);
  transition: var(--transitionBackdrop);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: var(--transitionBackdrop);
  transition: var(--transitionBackdrop);
}/*# sourceMappingURL=main.css.map */