:root {
  --backgroundColorMain: #e5e5e5;
  --backgroundColorSecondary: #2f303a;
  --fontColorMain: #212121;
  --fontColorSecondary: #757575;
  --selectionColor: #2196f3;
  --colorWhite: #ffffff;
  --colorWhiteTransp: #ffffff99;
  --colorAlmostWhite: #f5f4fa;
  --colorGrey: #ececec;
  --colorAlmostWhiteTwo: #eeeeee;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--backgroundColorMain);
  color: var(--fontColorMain);
  background-color: var(--colorWhite);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorWhite);
  margin: 0;
  padding: 0 40px 0 40px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}
h3 {
  padding: 60px 0 20px 0;
  margin: 0;
}
h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}
h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fontColorMain);
  margin: 0 0 10px 0;
}
h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0 0 0 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
  margin: 0px;
}
.container {
  width: 1200px;
  /* margin: 0px 215px; */
}
.section {
  padding: 94px 0;
}
.section-two {
  padding: 0 0 94px 0;
}
.box-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--colorGrey);
}

.nav-list {
  display: flex;
  gap: 46px;
  padding-left: 93px;
}
.contact-list {
  display: flex;
  gap: 50px;
  padding-left: 371px;
}
.section-header {
  background: var(--backgroundColorSecondary);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 30px;
  background: var(--backgroundColorSecondary);
  padding: 200px 0;
}
.box-our-speciality {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 94px;
}
.box-what-we-do {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.box-what-we-do > li > img {
  display: block;
}
.box-our-team {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  padding: 0;
}
.box-button {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.box-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.background-almost-white {
  background: var(--colorAlmostWhite);
}
.background-color-white {
  background: var(--colorWhite);
}
.box-our-team li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.box-our-team > li > img {
  display: block;
  margin-bottom: 30px;
}
.box-our-team > li > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}
.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  padding: 60px 0;
  background: var(--backgroundColorSecondary);
}
/* .address-list > p:not(:last-child) {
  margin-bottom: 9px;
} */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--selectionColor);
  text-decoration: none;
}
.logo-top {
  padding: 24px 0;
}
.logo-bottom {
  margin-bottom: 20px;
}

.logo-recolor-top {
  color: var(--fontColorMain);
}
.logo-recolor-bottom {
  color: var(--colorWhite);
}
.links {
  text-decoration: none;
  color: var(--fontColorMain);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.links:hover {
  color: var(--selectionColor);
}
.links:focus {
  color: var(--selectionColor);
}
.links-curr-hl {
  color: var(--selectionColor);
}
.links-contact {
  color: var(--fontColorSecondary);
}
.links-contact:focus {
  color: var(--selectionColor);
}
.links-contact-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--colorWhiteTransp);
}
.links-contact-bottom-underline {
  text-decoration: underline;
}

.addr {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--colorWhite);
}
.btn {
  background: var(--colorAlmostWhite);
  color: var(--fontColorMain);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  border-style: none;
  border-radius: 4px;
}
.btn:hover {
  background: var(--selectionColor);
  color: var(--colorWhite);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  background: var(--selectionColor);
  color: var(--colorWhite);
  cursor: pointer;
}
.btn-order {
  background: var(--selectionColor);
  color: var(--colorWhite);
  background: var(--selectionColor);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 1.875;
  line-height: 30px;
}
.btn-order:hover {
  background: var(--colorAlmostWhite);
  color: var(--fontColorMain);
  cursor: pointer;
}
.btn-order:focus {
  background: var(--colorAlmostWhite);
  color: var(--fontColorMain);
  cursor: pointer;
}
.person-position {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
}
.card-product {
  flex-basis: 370px;
}
.card-product > img {
  display: block;
}
.image-caption-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px;
}
.image-caption-secondary {
  font-size: 16px;
  line-height: 30px;
  color: var(--fontColorSecondary);
  padding: 4px 24px 20px;
}
.image-caption-border {
  border-left: 1px solid var(--colorAlmostWhiteTwo);
  border-right: 1px solid var(--colorAlmostWhiteTwo);
  border-bottom: 1px solid var(--colorAlmostWhiteTwo);
}
