:root {
  --backgroundColorMain: #e5e5e5;
  --backgroundColorSecondary: #2f303a;
  --fontColorMain: #212121;
  --fontColorSecondary: #757575;
  --selectionColor: #2196f3;
  --colorWhite: #ffffff;
  --colorWhiteTransp: #ffffff99;
  --colorAlmostWhite: #f5f4fa;
  --colorGrey: #ececec;
  --colorAlmostWhiteTwo: #eeeeee;
  --colorIconInactive: #afb1b8;
  --colorIconBackgroundFooter: #ffffff1a;
  --colorBackgroundImage: #2f303a66;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--backgroundColorMain);
  color: var(--fontColorMain);
  background-color: var(--colorWhite);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorWhite);
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}
h3 {
  padding: 60px 0 20px 0;
  margin: 0;
}
h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}
h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fontColorMain);
  margin: 0 0 10px 0;
}
h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
  margin: 0px;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--selectionColor);
  text-decoration: none;
  margin: 0;
}
.border-header {
  border-bottom: 1px solid var(--colorGrey);
}
.logo-recolor-top {
  color: var(--fontColorMain);
}
.logo-recolor-bottom {
  color: var(--colorWhite);
}
.links {
  text-decoration: none;
  color: var(--fontColorMain);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: 0.2s;
}
.links-curr-hl {
  color: var(--selectionColor);
}
.links-contact {
  color: var(--fontColorSecondary);
  transition: 0.2s;
}
.links:focus,
.links:hover,
.links-contact:focus {
  color: var(--selectionColor);
  transition: 0.2s;
}
.links-contact-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--colorWhiteTransp);
}
.links-contact-bottom-underline {
  text-decoration: underline;
}
.addr {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--colorWhite);
  padding-top: 20px;
}
.btn {
  background: var(--colorAlmostWhite);
  color: var(--fontColorMain);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: 0.25s;
}
.btn:hover,
.btn:focus {
  background: var(--selectionColor);
  color: var(--colorWhite);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 0.25s;
}
.btn:focus {
  background: var(--selectionColor);
  color: var(--colorWhite);
  cursor: pointer;
}
.btn-order {
  background: var(--selectionColor);
  color: var(--colorWhite);
  background: var(--selectionColor);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}
.btn-order:hover,
.btn-order:focus {
  background: var(--colorAlmostWhite);
  color: var(--fontColorMain);
  cursor: pointer;
  transition: 0.2s;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.section-our-speciality {
  padding: 94px 0 0 0;
}
.box-header {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.nav-list {
  display: flex;
  gap: 46px;
  margin-left: 93px;
}
.contact-list {
  display: flex;
  gap: 30px;
  margin-left: 345px;
  align-items: center;
  justify-content: center;
}
.envelope-icon,
.phone-icon {
  fill: var(--fontColorSecondary);
  transition: 0.2s;
}

.envelope-icon:hover,
.envelope-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
  fill: var(--selectionColor);
  transition: 0.2s;
}
.icon-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-header-spacing {
  margin-right: 10px;
}
.box-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 200px 0;
}
.background-color-secondary {
  background: var(--backgroundColorSecondary);
}
.box-our-speciality {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.box-icons-our-speciality {
  width: 270px;
  height: 120px;
  background-color: var(--colorAlmostWhite);
  margin-bottom: 30px;
  border-radius: 4px;
}
.icon-our-speciality {
  margin: 25px 100px;
}
.box-what-we-do {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.box-what-we-do > li > img {
  display: block;
}
.box-our-team {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
}
.box-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.icon-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--colorWhite);
  fill: var(--colorIconInactive);
  transition: 0.3s;
}
.icon-social:hover svg,
.icon-social:focus svg {
  background-color: var(--selectionColor);
  fill: var(--colorWhite);
  transition: 0.3s;
}
.box-circle {
  width: 44px;
  height: 44px;
}
.box-our-clients {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.box-icons-our-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorIconInactive);
  border-radius: 4px;
  transition: 0.4s;
}
.icon-our-clients {
  fill: var(--colorIconInactive);
  transition: 0.4s;
}
.box-icons-our-clients:hover svg,
.box-icons-our-clients:focus svg,
.box-icons-our-clients:hover,
.box-icons-our-clients:focus {
  fill: var(--selectionColor);
  border-color: var(--selectionColor);
  transition: 0.4s;
}
.box-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.box-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 2 * 30px) / 3);
}
.card-product {
  margin: 0;
  transition: 0.35s;
}
.card-product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 0.35s;
}
.card-product > img {
  display: block;
}
.box-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.background-almost-white {
  background: var(--colorAlmostWhite);
}
.background-color-white {
  background: var(--colorWhite);
}
.background-slider {
  background-image: linear-gradient(
      var(--colorBackgroundImage),
      var(--colorBackgroundImage)
    ),
    url("../images/sliderbg.jpg");
  max-width: 1600px;
  margin: 0 auto;
}
.box-our-team li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.box-our-team > li > img {
  display: block;
  margin-bottom: 30px;
}
.box-our-team > li > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}
.box-footer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 70px;
  padding: 55.5px 0;
}
.person-position {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--fontColorSecondary);
}
.image-caption-main {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin: 0px 24px 4px 24px;
  padding-top: 20px;
}
.image-caption-secondary {
  font-size: 16px;
  line-height: 30px;
  color: var(--fontColorSecondary);
  margin: 0px 24px 20px 24px;
}
.image-caption-border {
  border-left: 1px solid var(--colorAlmostWhiteTwo);
  border-right: 1px solid var(--colorAlmostWhiteTwo);
  border-bottom: 1px solid var(--colorAlmostWhiteTwo);
}
.social-heading-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: var(--colorAlmostWhite);
  margin-bottom: 20px;
}
.box-socials-footer {
  margin-top: 12px;
}
.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon-social-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--colorIconBackgroundFooter);
  fill: var(--colorWhite);
  transition: 0.2s;
}
.icon-social-footer:hover svg,
.icon-social-footer:focus svg {
  transition: 0.2s;
  background-color: var(--selectionColor);
}
