.backdrop {
    content: "";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: $colorBackdrop;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: var(--transitionBackdrop);
}
