.button {
    background: $colorBackgroundTertiary;
    color: $colorFontPrimary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
    outline: none;
    transition: var(--transitionButton);
    &:hover,
    &:focus {
        background: $colorSelection;
        color: $colorFontAlt;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: var(--transitionButton);   
    }
  }