.checkbox-field {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 1.714285714;
    letter-spacing: 0.03em;
    color: $colorFontSecondary;
    white-space: pre;
    &__label {
        display: inline-flex;
    }
    &__input {
        margin-left: 14px;
        appearance: none;
        position: absolute;
        &:checked + .checkbox-field__icon {
            fill: $colorIconAlt;
            background: $colorSelection;
            border-color: $colorSelection;
            transition: var(--transitionCheckbox);
        }
    }
    &__icon {
        border: 2px $colorFontPrimary solid;
        border-radius: 2px;
        background: $colorBackgroundPrimary;
        fill: $colorIconAlt;
        margin: 4px 7px 2px 15px;
        cursor: pointer;
        transition: var(--transitionCheckbox);
    }
    &__link {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: $colorSelection;
        transition: var(--transitionLinkUnderline);
        &:focus,
        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-skip-ink: none;
            color: $colorSelection;
            transition: var(--transitionLinkUnderline);
        }
    }
}
