.checkbox-field {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 1.714285714;
    letter-spacing: 0.03em;
    color: var(--fontColorSecondary);
    white-space: pre;
    &__label {
        display: inline-flex;
    }
    &__input {
        margin-left: 14px;
        appearance: none;
        position: absolute;
        &:checked + .checkbox-field__icon {
            fill: var(--colorWhite);
            background: var(--selectionColor);
            border-color: var(--selectionColor);
            transition: var(--transitionCheckbox);
        }
    }
    &__icon {
        border: 2px var(--fontColorMain) solid;
        border-radius: 2px;
        background: var(--colorWhite);
        fill: var(--colorWhite);
        margin: 4px 7px 2px 15px;
        cursor: pointer;
        transition: var(--transitionCheckbox);
    }
    &__link {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: var(--selectionColor);
        transition: var(--transitionLinkUnderline);
        &:focus,
        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-skip-ink: none;
            color: var(--selectionColor);
            transition: var(--transitionLinkUnderline);
        }
    }
}