.clients {
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__container {
        @extend .clients;
        width: 1200px;
        margin: 0 auto;
    }
    &__heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $colorFontPrimary;
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__icon {
        fill: $colorIconPrimary;
        transition: var(--transitionIconClient);
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        background-color: $colorBackgroundPrimary;
        border: 1px solid $colorBorderPrimary;
        border-radius: 4px;
        transition: var(--transitionIconClient);
        outline: none;
        &:hover,
        &:focus,
        &:hover .clients__icon,
        &:focus .clients__icon {
            border-color: $colorSelection;
            fill: $colorSelection;
            transition: var(--transitionIconClient);   
        } 
    }
}