@media screen and (max-width: $screenTablet) {
    .contacts {
        display: none;
    }
}
@media screen and (min-width: $screenTablet) {
    .contacts {
        display: flex;
        align-items: center;
        justify-self: flex-end;
        &__icon {
            fill: $colorFontSecondary;
        }
        &__list {
            display: flex;
            align-content: center;
            flex-direction: column;
            gap: 8px;
        }
        &__text {
            @include fontProperties(
                500,
                12px,
                14px,
                0.02em,
                $colorFontSecondary
            );
        }
        &__link {
            display: flex;
            align-items: center;
            gap: 10px;
            &:hover .contacts__icon,
            &:focus .contacts__icon {
                fill: $colorSelection;
                transition: $transitionIcon;
            }
            &:hover .contacts__text,
            &:focus .contacts__text {
                color: $colorSelection;
                transition: $transitionLink;
            }
        }
    }
}
@media screen and (min-width: $screenDesktop) {
    .contacts {
        &__list {
            flex-direction: row;
            gap: 30px;
        }
        &__text {
            color: $colorFontSecondary;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.142857143;
            letter-spacing: 0.02em;
        }
    }
}
