.features {
    display: flex;
    gap: 30px;
    justify-content: center;
    &__container {
        @extend .features;
        width: 1200px;
        margin: 0 auto; 
    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $colorBackgroundTertiary;
        width: 270px;
        height: 120px;
        border-radius: 4px;
    }
    &__icon {
        width: 70px;
        height: 70px;
    }
    &__heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142857143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $colorFontPrimary;
        padding: 30px 0 10px 0;
    }
    &__description {
        font-size: 14px;
        line-height: 1.714285714;
        letter-spacing: 0.03em;
        color: $colorFontSecondary;
        margin: 0px;
    }
}