.form-field {
    position: relative;
    display: block;
    &__label {
        font-size: 12px;
        line-height: 1.166666667;
        letter-spacing: 0.01em;
        color: $colorFontSecondary;
        transition: var(--transitionFormTextInput);
    }
    &__input {
        width: 448px;
        height: 40px;
        border: 1px solid $colorInputBorderPrimary;
        border-radius: 4px;
        padding: 12px 22px 12px 42px;
        font-size: 12px;
        line-height: 1.166666667;
        letter-spacing: 0.01em;
        margin-top: 2px;
        transition: var(--transitionFormTextInput);
        &:focus {
            border-color: $colorSelection;
            outline: none;
            transition: var(--transitionFormTextInput);  
        }
        &:focus + .form-field__icon {
            fill: $colorSelection;
            transition: var(--transitionFormTextInput);
        }
    }
    &__comment {
        width: 448px;
        height: 120px;
        border: 1px solid $colorInputBorderPrimary;
        border-radius: 4px;
        padding: 12px 16px;
        font-size: 12px;
        line-height: 1.166666667;
        letter-spacing: 0.01em;
        margin-top: 2px;
        margin-bottom: 10px;
        resize: none;
        &::placeholder {
            color: $colorPlaceholder;
        }
        &:focus {
            border-color: $colorSelection;
            outline: none;
            transition: var(--transitionFormTextInput);  
        }
    }
    &__icon {
        position: absolute;
        top: 35px;
        left: 15px;
        fill: $colorFontPrimary;
        transition: var(--transitionFormTextInput);
    }
}