.form-field {
    position: relative;
    display: block;
    &__label {
        @include fontProperties(
            null,
            12px,
            1.166,
            0.01em,
            $colorFontSecondary
        );
        transition: $transitionInputBorder;
    }
    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid $colorInputBorderPrimary;
        border-radius: 4px;
        padding: 12px 22px 12px 42px;
        font-size: 12px;
        line-height: 1.166666667;
        letter-spacing: 0.01em;
        margin-top: 2px;
        transition: $transitionIconAndBorder;
        &:focus {
            border-color: $colorSelection;
            outline: none;
            transition: $transitionIconAndBorder;
        }
        &:focus + .form-field__icon {
            fill: $colorSelection;
            transition: $transitionIconAndBorder;
        }
    }
    &__comment {
        position: relative;
        width: 100%;
        height: 120px;
        border: 1px solid $colorInputBorderPrimary;
        border-radius: 4px;
        padding: 12px 16px;
        font-size: 12px;
        line-height: 1.166666667;
        letter-spacing: 0.01em;
        margin-top: 2px;
        margin-bottom: 10px;
        resize: none;
        transition: $transitionInputBorder;
        &::placeholder {
            color: $colorPlaceholder;
        }
        &:focus {
            border-color: $colorSelection;
            outline: none;
            transition: $transitionInputBorder;
        }
    }
    &__icon {
        position: absolute;
        top: 35px;
        left: 15px;
        fill: $colorFontPrimary;
        transition: $transitionIconAndBorder;
    }
}
