.grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc(100% - 2 * 30px / 3);
    padding: 0 15px;
    &__container {
        width: 1200px;
        margin: 0 auto;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: var(--transitionCard);
        &:hover {
            box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
            transition: var(--transitionCard);
        }
    }
}