.grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 100%;
    &__container {
        max-width: 1200px;
        min-width: 320px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: $transitionShadow;
        min-width: 320px;
        width: 100%;
        &:hover {
            box-shadow: 0px 1px 1px rgb(0 0 0 / 12%),
                0px 4px 4px rgb(0 0 0 / 6%),
                1px 4px 6px rgb(0 0 0 / 16%);
            transition: $transitionShadow;
        }
    }
}
@media screen and (min-width: $screenTablet) {
    .grid {
        flex-direction: row;
        flex-wrap: wrap;
        &__item {
            flex-basis: calc((100% - 1 * 30px) / 2);
        }
    }
}
@media screen and (min-width: $screenDesktop) {
    .grid {
        &__item {
            flex-basis: calc((100% - 2 * 30px) / 3);
        }
    }
}
