.link {
    color: inherit;
    text-decoration: none;
    transition: $transitionLink;
    &__clients {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        background-color: $colorBackgroundPrimary;
        border: 1px solid $colorIconPrimary;
        border-radius: 4px;
        transition: var(--transitionIconClient);
        outline: none;
    }
    &:hover,
    &:focus {
        color: $colorSelection;
        transition: $transitionLink;
    }
    &--underline {
        @extend .link
        text-decoration: underline;
    }
    &--active {
        @extend .link;
        color: $colorSelection;
        &::after {
            position: absolute;
            display: block;
            content: "";
            top: 45px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $colorSelection;
            cursor: unset;
            pointer-events: none;
        }
    }
}
