.modal-window {
    position: relative;
    min-width: 320px;
    max-width: 450px;
    height: 609px;
    background: $colorBackgroundPrimary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    &__close-button {
        position: absolute;
        right: 8px;
        top: 8px;
        border: 1px solid $colorBorderPrimary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: $transitionIcon;
        cursor: pointer;
        &:hover,
        &:focus {
            outline: none;
            border-color: $colorSelection;
            fill: $colorSelection;
            transition: $transitionIcon;
        }
    }
    &__heading {
        @include fontProperties(
            700,
            20px,
            1.15,
            0.03em,
            $colorFontPrimary
        );
        text-align: center;
        margin-bottom: 12px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__button {
        @include fontProperties(
            700,
            16px,
            1.875,
            0.06em,
            $colorFontAlt
        );
        background: $colorSelection;
        box-shadow: 0px 4px 4px #00000026;
        border-radius: 4px;
        border-style: none;
        padding: 10px 76px;
        cursor: pointer;
        align-self: center;
        transition: $transitionButton;
        margin-top: 20px;
        &:hover,
        &:focus {
            background: $colorBackgroundSecondary;
            color: $colorSelection;
            cursor: pointer;
            transition: $transitionButton;
        }
    }
}
@media screen and (min-width: 1200px) {
    .modal-window {
        max-width: 528px;
        width: 528px;
        height: 576px;
    }
}
