.navigation {
    display: flex;
    align-items: center;
    color: $colorFontPrimary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142857143;
    letter-spacing: 0.02em;
    &__list {
        display: none;
    }
    &__item {
        position: relative;
    }
}
@media screen and (min-width: 768px) {
    .navigation {
        &__list {
            gap: 60px;
            display: flex;
        }
    }
}
