.navigation {
    @include fontProperties(
        500,
        14px,
        1.142,
        0.02em,
        $colorFontPrimary
    );
    display: flex;
    align-items: center;
    &__list {
        display: none;
    }
    &__item {
        position: relative;
    }
}
@media screen and (min-width: $screenTablet) {
    .navigation {
        &__list {
            gap: 60px;
            display: flex;
        }
    }
}
