.our-team {
    min-width: $contentMinWidth;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__container {
        @extend .our-team;
        width: 100%;
        padding: 0 15px;
    }
    &__heading {
        @include fontProperties(
            700,
            28px,
            33px,
            0.03em,
            $colorFontPrimary
        );
        text-align: center;
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
            0px 1px 1px rgb(0 0 0 / 14%),
            0px 2px 1px rgb(0 0 0 / 20%);
        background-color: $colorBackgroundPrimary;
    }
    &__portrait {
        margin-bottom: 30px;
        width: 100%;
        height: 100%;
    }
    &__person-name {
        @include fontProperties(
            500,
            16px,
            19px,
            0.03em,
            $colorFontPrimary
        );
        text-align: center;
        margin-bottom: 10px;
    }
    &__person-position {
        @include fontProperties(
            400,
            16px,
            19px,
            0.03em,
            $colorFontSecondary
        );
        text-align: center;
        margin-bottom: 16px;
    }
}
@media screen and (min-width: $screenTablet) {
    .our-team {
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
        &__item {
            flex-basis: calc((100% - 30px * 1) / 2);
        }
    }
}
@media screen and (min-width: $screenDesktop) {
    .our-team {
        &__container {
            width: 1200px;
            margin: 0 auto;
        }
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
        &__heading {
            @include fontProperties(
                700,
                36px,
                42px,
                0.03em,
                $colorFontPrimary
            );
            text-align: center;
        }
    }
}
