@import "../utils/mixins";
.page-header {
    display: flex;
    align-items: center;
    &__container {
        @extend .page-header;
        display: flex;
        justify-content: space-between;
        width: 100%;
        // min-width: $screenMobile;
        max-width: $screenDesktop;
        min-width: $contentMinWidth;
        padding: 0 15px;
        height: 60px;
    }
    &__logo {
        @include fontProperties(
            700,
            24px,
            28px,
            0.03em,
            $colorSelection
        );
        font-family: "Raleway";
    }
    &__menu {
        background: none;
        border: none;
    }
    &__menu-icon {
        fill: $colorFontPrimary;
        transition: $transitionIcon;
        &:hover,
        &:focus {
            fill: $colorSelection;
            transition: $transitionIcon;
        }
    }
}
@media screen and (min-width: $screenTablet) {
    .page-header {
        &__container {
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &__navigation {
            @include fontProperties(
                500,
                14px,
                16px,
                0.02em,
                $colorFontPrimary
            );
            display: flex;
            align-items: center;
        }
        &__logo {
            margin-right: 83px;
        }
        &__menu {
            display: none;
        }
    }
}
@media screen and (min-width: $screenDesktop) {
    .page-header {
        &__container {
            margin: 0 auto;
            padding: 0 15px;
        }
        &__logo {
            @include fontProperties(
                700,
                26px,
                1.192,
                0.03em,
                $colorSelection
            );
            margin-right: 93px;
        }
    }
}
