.product-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: pointer;
    &__anchor {
        position: relative;
        overflow: hidden;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        flex: 1;
    }
    &__overlay {
        position: absolute;
        top: 0;
        font-size: 18px;
        line-height: 1.555;
        letter-spacing: 0.03em;
        color: $colorFontAlt;
        background: $colorOverlayPrimary;
        padding: 49px 45px 49px 24px;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: $transitionTransform;
        flex: 1;
    }
    &__caption-box {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        gap: 4px;
        border-left: 1px solid $colorBorderTertiary;
        border-right: 1px solid $colorBorderTertiary;
        border-bottom: 1px solid $colorBorderTertiary;
        flex: 1;
    }
    &__heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    &__description {
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: $colorFontSecondary;
    }
    &:hover .product-card__overlay {
        transform: translateY(0%);
    }
}
