.section {
    background: $colorBackgroundSecondary;
    &__container {
      width: 1600px;
      margin: 0 auto;
    }
    &__page-header {
        border-bottom: 1px solid $colorBorderTertiary;
        padding: 24px 15px 24px 0px;
      }
    &__hero {
        background: $colorBackgroundSecondary;
      }
    &__features {
        padding: 94px 0px;
      }
    &__our-speciality {
        padding: 0px 0 94px 0;
      }
    &__team {
        padding: 94px 0;
        background-color: $colorBackgroundTertiary;
      }
    &__clients {
        padding: 94px 0;
      }
    &__page-footer {
        background: $colorBackgroundSecondary;
        padding: 60px 0px;
      }
    &__gallery {
      padding: 94px 0;
    }
}