.section {
    background: $colorBackgroundSecondary;
    &__container {
        min-width: $contentMinWidth;
        max-width: 1600px;
        // min-width: $screenMobile;
    }
    &__page-header {
        border-bottom: 1px solid $colorBorderTertiary;
    }
    &__hero {
        background: $colorBackgroundSecondary;
    }
    &__features {
        padding: 60px 0px;
    }
    &__our-speciality {
        display: none;
        padding: 0px 0 60px 0;
    }
    &__our-team {
        min-width: $contentMinWidth;
        padding: 60px 0;
        background-color: $colorBackgroundTertiary;
    }
    &__clients {
        padding: 60px 0;
    }
    &__page-footer {
        min-width: $contentMinWidth;
        background-color: $colorBackgroundSecondary;
        padding: 60px 0px;
    }
    &__gallery {
        padding: 60px 0;
    }
}
@media screen and (min-width: $screenDesktop) {
    .section {
        &__container {
            margin: 0 auto;
        }
        &__features {
            padding: 94px 0px;
        }
        &__our-speciality {
            display: block;
            padding: 0px 0 60px 0;
        }
        &__our-team {
            padding: 94px 0;
        }
        &__clients {
            padding: 94px 0;
        }
        &__gallery {
            padding: 94px 0;
        }
    }
}
