.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 24px;
    &__icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $colorBackgroundPrimary;
        fill: $colorIconPrimary;
        transition: var(--transitionIconSocial);
        &--dark {
            background-color: $colorIconSecondary;
            fill: $colorFontAlt;
            transition: var(--transitionIconSocialFooter);
        }
    }
    &__heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142857143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: start;
        color: $colorBackgroundTertiary;
        margin-bottom: 20px;
    }
    &__link {
        display: block;
        width: 44px;
        height: 44px;
        outline: none;
        &:hover .social-list__icon,
        &:focus .social-list__icon {
            fill: $colorIconAlt;
            background-color: $colorSelection;
            overflow: hidden;
            transition: var(--transitionIconSocial);
        }
    }
}
@media screen and (min-width: $screenDesktop) {
    .social-list {
        margin-bottom: 30px;
    }
}
