.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192307692;
    letter-spacing: 0.03em;
    color: var(--selectionColor);
    text-decoration: none;
    &--dark {
        color: var(--fontColorMain);
    }
    &--light {
        color: var(--colorWhite);
    }
}