.our-speciality {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 15px;
    &__heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__image {
        display: block;
    }
    &__caption {
        position: absolute;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142857143;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding: 27px 0px;
        background: var(--colorBackgroundFigcaption);
        color: var(--colorWhite);
        bottom: 0;
        width: 100%;
    }
}