h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure,
figcaption {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
img {
    display: block;
}
a {
    text-decoration: none;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: $colorFontPrimary;
    background: $colorBackgroundPrimary;
    overflow-x: visible;
}
@media screen and (min-width: 320px) {
    body {
        overflow-x: hidden;
    }
}
