//colors
$colorBackgroundPrimary: #ffffff;
$colorBackgroundSecondary: #2f303a;
$colorBackgroundTertiary: #f5f4fa;
$colorFontPrimary: #212121;
$colorFontSecondary: #757575;
$colorFontTertiary: #ffffff99;
$colorFontAlt: #fff;
$colorSelection: #2196f3;
$colorIconPrimary: #afb1b8;
$colorButtonPressed: #188ce8;
$colorIconSecondary: #ffffff1a;
$colorIconAlt: #ffffff;
$colorOverlayPrimary: #2196f3e6;
$colorOverlaySecondary: #2f303a66;
$colorOverlayTertiary: #2f303acc;
$colorBackdrop: #00000033;
$colorBorderPrimary: #afb1b8;
$colorBorderSecondary: #2f303a66;
$colorBorderTertiary: #ececec;
$colorInputBorderPrimary: #00000033;
$colorInputBorderSecondary: #ffffff4d;
$colorPlaceholder: #75757580;

//screen breakpoints
$screenMobile: 480px;
$screenTablet: 768px;
$screenDesktop: 1200px;
$ScreenMinWidth: 320px;

//transitions
$commonDuration: 250ms;
$commonTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$commonTransitionValues: $commonDuration
    $commonTimingFunction;

$transitionButton: box-shadow $commonTransitionValues,
    background $commonTransitionValues,
    color $commonTransitionValues;
$transitionButtonIcon: box-shadow $commonTransitionValues,
    background $commonTransitionValues,
    color $commonTransitionValues,
    fill $commonTransitionValues;
$transitionLink: color $commonTransitionValues;
$transitionIconAndLink: color $commonTransitionValues,
    fill $commonTransitionValues;
$transitionIcon: fill $commonTransitionValues;
$transitionIconBackground: background-color
    $commonTransitionValues;
$transitionIconAndBackground: fill $commonTransitionValues,
    background-color $commonTransitionValues;
$transitionIconAndBorder: fill $commonTransitionValues,
    border-color $commonTransitionValues;
$transitionShadow: box-shadow $commonTransitionValues;
$transitionTransform: transform $commonTransitionValues;
$transitionTransformMenu: transform $commonTransitionValues,
    visibility $commonTransitionValues;
$transitionModal: fill $commonTransitionValues,
    border-color $commonTransitionValues,
    background-color $commonTransitionValues;
$transitionBackdrop: opacity $commonTransitionValues,
    visibility $commonTransitionValues;
$transitionInputBorder: border-color $commonTransitionValues;
$transitionCheckbox: fill $commonTransitionValues,
    background-color $commonTransitionValues,
    border-color $commonTransitionValues;
$transitionUnderline: text-decoration-thickness
    $commonTransitionValues;
